<!--ion-header>
  <ion-spinner color="primary" name="lines" *ngIf="isLoading == true"></ion-spinner>
  <ion-footer id="spinFooter" *ngIf="isLoading == true"></ion-footer>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="Torval()"></ion-back-button>
      </ion-buttons>
    <ion-title>Lugar Del Siniestro</ion-title>
  </ion-toolbar>
</!--ion-header>

<ion-content style="--background: transparent;">
<capacitor-google-map id="map" #map  (mapClick)="addMapMarker($event)"></capacitor-google-map>
</ion-content>

<ion-footer slot="fixed" style="bottom: 0;left:0;height:80px; background: white;">
  <ion-grid *ngIf="isTrack == true">
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6" *ngIf="isLoadingData == true" style="position: fixed; bottom:1%;left:35%;"><ion-spinner color="primary" name="dots"></ion-spinner></ion-col>
      <ion-col size="6" *ngIf="isLoadingData == false">
          <br><ion-badge>{{mapInfoText}}</ion-badge>
        
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab style="position: fixed;margin-right: 6%;" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="limpiarCache()">
      <ion-icon style="font-size: 3rem;" src="../../assets/img/clear-cache.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab style="position: fixed;" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="cerrarMapa()">
      <ion-icon name="return-up-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>

<ion-modal #modalInfo trigger="open-modal-info" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-content>
      <ion-toolbar>Opciones Disponibles</ion-toolbar>
      
    </ion-content>
  </ng-template>
</ion-modal -->
