node_modules/
.angular/
.cache/

android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/capacitor.settings.gradle.bak

ios/App/Pods/
ios/App/build/

backups/
*.apk
*.aab
*.zip

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
