strong{
    font-weight: bolder;
}

ion-spinner{
	position: fixed;
    top: 28%;
    left: 40%;
    z-index: 999;
    width: 20%;
    height: 20%;
	//background-color: #00213f;
}

#spinFooter{
	position: fixed;
    background: black;
    opacity: 0.6;
    height: 100vh;
    width: 100vw;
    z-index: 900;
    bottom: 0;
}

.impresora {
    font-size: 2rem;
    color: #f14f23;
    position: absolute;
    right: 1%;
    top: 15%;
  }