<ion-header class="segment-form-header">
  <ion-spinner color="primary" name="lines" *ngIf="isLoading == true"></ion-spinner>
  <ion-footer class="loading-backdrop" *ngIf="isLoading == true"></ion-footer>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button aria-label="Regresar al formulario" fill="clear" (click)="handleSegmentBack()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span class="attention-toolbar-title attention-toolbar-title--stacked">
        <span class="attention-toolbar-title__id">{{segmentoTitulo}} · #{{idAtencion}}</span>
        <app-attention-currency-badge [currency]="miMoneda" variant="toolbar"></app-attention-currency-badge>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding segment-form-content">
  <ion-grid>
    <ion-row>
      <ion-col class="segmento" id="segmentInfoAju" size="12">

        <ion-label class="text-size-lg" style="padding-left: 5px;">
          <ion-badge color="primary">
            {{segmentoTitulo}}
          </ion-badge>
        </ion-label>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Fue el vehículo Trasladado En Grúa?
                </ion-row>
            <ion-row>
              <ion-col size="9"></ion-col>
              <ion-col size="3" style="text-align: right;">
                <ion-radio-group [(ngModel)]="esTraslado" (ionChange)="entraTraslado($event)">
                  <ion-item lines="none" style="display: inline-block;">
                    <ion-label color="primary" style="margin-left:5px">No</ion-label>&nbsp;
                    <ion-radio [value]="2"></ion-radio>
                  </ion-item>
                  <ion-item lines="none"  style="display: inline-block;">
                    <ion-label color="primary" style="margin-left:5px">Si</ion-label>&nbsp;
                    <ion-radio [value]="1"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Tipo de Grúa
                </ion-row>
            <ion-row style="float: right;">
              <ion-radio-group [(ngModel)]="tipoGrua" (ionChange)="entraGrua($event)">
                <ion-item lines="none" style="display: inline-block;">
                  <ion-label color="primary">Ninguna</ion-label>&nbsp;<ion-radio [value]="0"></ion-radio>
                </ion-item>
                <ion-item lines="none" style="display: inline-block;">
                  <ion-label color="primary">Liviana</ion-label>&nbsp;<ion-radio [value]="2"></ion-radio>
                </ion-item>
                <ion-item lines="none"  style="display: inline-block;">
                  <ion-label color="primary">Pesada (Mayor de 3.5 toneladas)</ion-label>&nbsp;<ion-radio [value]="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Vehículo es Equipo Pesado?
                </ion-row>
            <ion-row>
              <ion-col size="9"></ion-col>
              <ion-col size="3" style="text-align: right;">
                <ion-radio-group [(ngModel)]="esPesado" (ionChange)="entraPesado($event)">
                  <ion-item lines="none" style="display: inline-block;">
                    <ion-label color="primary" style="margin-left:5px">No</ion-label>&nbsp;
                    <ion-radio [value]="2"></ion-radio>
                  </ion-item>
                  <ion-item lines="none"  style="display: inline-block;">
                    <ion-label color="primary" style="margin-left:5px">Si</ion-label>&nbsp;
                    <ion-radio [value]="1"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Si el vehículo se encuentra en un taller, seleccione uno.
              <ion-chip id="tallerSelect" [outline]="true" (click)="tallerSelect.open()" style="position: absolute;right: 0; width: 15%; padding-left: 4%; font-size: 1rem;
                color: var(--blueGrayColor); border-color: var(--blueGrayColor); right: 15px; top: 22%;">
                Seleccionar
              </ion-chip>
            </ion-row>
            <ion-row>
              <ion-col id="tallerDisplay" size="12" class="select-label">{{tallerNombreDisplay}}</ion-col>
              <ion-col size="3">
                <ion-select #tallerSelect class="text-size-xs native-select-hidden" [(ngModel)]="datos.TallerMecanicoId" multiple="false" 
                interface="alert" [interfaceOptions]="workshopSelectOptions" okText="Seleccionar" cancelText="Cancelar" style="float: right;color: white;" (ionChange)="entraTaller($event)">
                  <ion-select-option *ngFor="let taller of talleresFiltrados" [value]="taller.Id">
                    <strong> {{taller.NombreTaller}} </strong>, Categoría {{taller.Categoria}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
              
          <ion-grid style="width: 100%;">
            <ion-row>
              <ion-col size="12">
                <ion-grid>
                  <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
                    Taller/Agencia no registrado o Lugar donde se trasladó el vehículo.
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-input type="text" [(ngModel)]="tallerOtro" (ionBlur)="entraTallerOtro(tallerOtro)" class="select-label"></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-grid>
                  <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
                    Ubicación del taller.
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-input type="text" [(ngModel)]="tallerOtroDireccion" (ionChange)="entraTallerOtroDireccion($event)" class="select-label"></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Observaciones Para el Taller
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input [(ngModel)]="datos.ObservacionesTaller" (ionChange)="entraObservacionesTaller($event)" class="select-label"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Tipo de combustible
              <ion-chip id="fuelTypeSelect" [outline]="true" (click)="tipoCombustibleSelect.open()" style="position: absolute;right: 0; width: 15%; padding-left: 4%; font-size: 1rem;
                color: var(--blueGrayColor); border-color: var(--blueGrayColor); right: 15px; top: 22%;">
                Seleccionar
              </ion-chip>
            </ion-row>
            <ion-row>
              <ion-col id="tipoCombustibleDisplay" size="12" class="select-label">{{tipoDeCombustible}}</ion-col>
              <ion-col size="3">
                <ion-select #tipoCombustibleSelect class="text-size-xs required-data native-select-hidden" [(ngModel)]="ajustador.TipoCombustible" multiple="false" (ionChange)="entraTipoCombustible($event)"
                interface="alert" [interfaceOptions]="fuelTypeSelectOptions" okText="Seleccionar" cancelText="Cancelar" style="float: right;color: white;">
                  <ion-select-option *ngFor="let tipo of tipoCombustible"  [value]="tipo.Id" style="color: white;">{{tipo.TipoCombustible}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
              
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Aire Acondicionado
                </ion-row>
            <ion-row style="float: right;">
              <ion-radio-group [(ngModel)]="ajustador.AC" (ionChange)="entraAC($event)" class="required-data">
                <ion-item lines="none" style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">No</ion-label>&nbsp;
                  <ion-radio [value]="2"></ion-radio>
                </ion-item>
                <ion-item lines="none"  style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">Si</ion-label>&nbsp;
                  <ion-radio [value]="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
              
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Bolsas de Aire
                </ion-row>
            <ion-row style="float: right;">
              <ion-radio-group [(ngModel)]="ajustador.BolsasAire" (ionChange)="entraBolsaAire($event)" class="required-data">
                <ion-item lines="none" style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">No</ion-label>&nbsp;
                  <ion-radio [value]="2"></ion-radio>
                </ion-item>
                <ion-item lines="none"  style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">Si</ion-label>&nbsp;
                  <ion-radio [value]="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
              
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Cierre centralizado
                </ion-row>
            <ion-row style="float: right;">
              <ion-radio-group [(ngModel)]="ajustador.CierreCentralizado" (ionChange)="entraCierreCentralizado($event)"
            class="required-data">
              <ion-item lines="none" style="display: inline-block;">
                <ion-label color="primary" style="margin-left:5px">No</ion-label>&nbsp;
                <ion-radio [value]="2"></ion-radio>
              </ion-item>
              <ion-item lines="none"  style="display: inline-block;">
                <ion-label color="primary" style="margin-left:5px">Si</ion-label>&nbsp;
                <ion-radio [value]="1"></ion-radio>
              </ion-item>
            </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Tipo de transmisión
              <ion-chip id="misionTypeSelect" [outline]="true" (click)="tipoTransmisionSelect.open()" style="position: absolute;right: 0; width: 15%; padding-left: 4%; font-size: 1rem;
                color: var(--blueGrayColor); border-color: var(--blueGrayColor); right: 15px; top: 22%;">
                Seleccionar
              </ion-chip>
            </ion-row>
            <ion-row>
              <ion-col id="tiposTransmisionDisplay" size="12" class="select-label">{{tipotransmision}}</ion-col>
              <ion-col size="3">
                <ion-select #tipoTransmisionSelect [(ngModel)]="ajustador.Transmicion" multiple="false" (ionChange)="entraMecanico($event)"
                interface="alert" [interfaceOptions]="transmissionTypeSelectOptions" okText="Seleccionar" cancelText="Cancelar"
                class="text-size-xs required-data native-select-hidden" style="float: right;color: white;">
                  <ion-select-option *ngFor="let transmision of tiposTransmision" [value]="transmision.id">{{transmision.nombre}}</ion-select-option>
                  
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
              
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Retrovisores eléctricos
                </ion-row>
            <ion-row style="float: right;">
              <ion-radio-group [(ngModel)]="ajustador.Retrovisor" (ionChange)="entraRetrovisorElectronico($event)">
                <ion-item lines="none" style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">No</ion-label>&nbsp;
                  <ion-radio [value]="2"></ion-radio>
                </ion-item>
                <ion-item lines="none"  style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">Si</ion-label>&nbsp;
                  <ion-radio [value]="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
              
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Overfenders
                </ion-row>
            <ion-row style="float: right;">
              <ion-radio-group [(ngModel)]="ajustador.Overfenders" (ionChange)="entraOverfenders($event)">
                <ion-item lines="none" style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">No</ion-label>&nbsp;
                  <ion-radio [value]="2"></ion-radio>
                </ion-item>
                <ion-item lines="none"  style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">Si</ion-label>&nbsp;
                  <ion-radio [value]="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
              
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Cola de pato
                </ion-row>
            <ion-row style="float: right;">
              <ion-radio-group [(ngModel)]="ajustador.ColaPato" (ionChange)="entraColaPato($event)">
                <ion-item lines="none" style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">No</ion-label>&nbsp;
                  <ion-radio [value]="2"></ion-radio>
                </ion-item>
                <ion-item lines="none"  style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">Si</ion-label>&nbsp;
                  <ion-radio [value]="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Cinta decorativa
                </ion-row>
            <ion-row style="float: right;">
              <ion-radio-group [(ngModel)]="ajustador.CintaDecorativa" (ionChange)="entraCintaDecorativa($event)">
                <ion-item lines="none" style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">No</ion-label>&nbsp;
                  <ion-radio [value]="2"></ion-radio>
                </ion-item>
                <ion-item lines="none"  style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">Si</ion-label>&nbsp;
                  <ion-radio [value]="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
              
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Rines
                </ion-row>
            <ion-row style="float: right;">
              <ion-radio-group [(ngModel)]="rinesId" (ionChange)="entraRines($event)">
                <ion-item lines="none" style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">Convencionales</ion-label>&nbsp;
                  <ion-radio [value]="2"></ion-radio>
                </ion-item>
                <ion-item lines="none"  style="display: inline-block;">
                  <ion-label color="primary" style="margin-left:5px">De Lujo</ion-label>&nbsp;
                  <ion-radio [value]="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="segment-form-nav-footer">
  <ion-toolbar>
    <ion-button expand="block" class="segment-form-back-button" aria-label="Regresar al formulario" (click)="handleSegmentBack()">
      <ion-icon slot="start" name="chevron-back"></ion-icon>
      Volver al formulario
    </ion-button>
  </ion-toolbar>
</ion-footer>
