.card-header-image {
    position: relative;
    ion-img{
      height: 20vh;
      object-fit: contain;
    }
    &::before {
      content: "";
      display: block;
      height: 20vh;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      mix-blend-mode: var(--cs-mode-image);
      background: var(--cs-gradient-damage);
      z-index: 5;
    }
  
    img {
      width: 100% !important;
      height: 20vh;
      object-fit: contain;
    }
  }
  .card-header-image-inactive {
    position: relative;
    ion-img{
      height: 20vh;
      object-fit: contain;
    }
    &::before {
      content: "";
      display: block;
      height: 20vh;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      mix-blend-mode: var(--cs-mode-image);
      background: var(--cs-gradient-linear);
      z-index: 5;
    }
  
    img {
      width: 100% !important;
      height: 20vh;
      object-fit: contain;
    }
  }
ion-datetime{
	--background:white;
	--background-rgb:var(--white);
}
canvas {
  border: groove;
  padding-top: 2px;
}
.calendar{
    //ion-modal{
        --background: rgba(44,39,45,0.2);
        &::part(content){
            backdrop-filter: blur(6px);
        }
        ion-content{
            --width: 100vw;
            --height: 100vh;
            --background: transparent;

        }
        ion-datetime{
            background: white;
            color:black;
            height: 100%;
            
            .show-month-and-year .datetime-year{
                --background:--white;
                --background-rgb: var(--white);
            }
            .item-native{
                color: #4ba8ed;
            }

        }
    //}
    ion-datetime{
        --background:white;
        --background-rgb:var(--white);
    }
}
:host(.datetime-presentation-date-time:not(.datetime-prefer-wheel)), :host(.datetime-presentation-time-date:not(.datetime-prefer-wheel)), :host(.datetime-presentation-date:not(.datetime-prefer-wheel)) {
  height: 100%;
}
ion-radio {
  width: 30px;
  height: 30px;
}

ion-radio::part(container) {
  border-radius: 8px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #0090D0;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}