<!-- lOGIN FROMA --COMPONENT 1 -->
    <!-- Content -->
    <ion-content style="position: absolute;bottom:0;left:0; overflow: hidden; overflow-y: hidden;">
      <ion-spinner color="primary" name="lines" *ngIf="isLoading == true"></ion-spinner>
      <ion-footer *ngIf="isLoading == true"></ion-footer>

      

      <strong></strong>
      <img id="logoHelp" class="mi-logo" src="../../../assets/logos/help.png" alt="Ficohsa Waves" />

      <img id="olaAbajo" class="mi-imagen" src="../../../assets/materiales/ola_abajo.svg" alt="Ficohsa Waves" />
      <img id="olaArriba" class="mi-imagensita" src="../../../assets/materiales/ola_arriba.svg" alt="Ficohsa Waves"/>
      <ion-footer style="position: fixed;
      bottom: 0;
      left: 0;
      width: 50%;
      margin: 0;
      padding: 0;
      height: 100%;
      box-shadow: none;
      border: none;
      margin-left: 26%;
      z-index: 1050;">
        <ion-grid id="someGrid" style="background: transparent;" class="login-grid">
          <ion-row style="margin-left: -5px; margin-right: 2px;" class="login-row">
            <ion-col size="12">
              <form (ngSubmit)="login()" [formGroup]="credenciales" id="loginform">
                <ion-col class="ion-padding" size="12" size-md="10" push-md="1">

                  <ion-label style="padding-left: 0; margin-left: -15px; color: #0058CB;">Correo electrónico</ion-label>
                  <ion-input class="sesion-dato" required type="email" formControlName="user" (ionChange)="walkEmail($event)" (ionBlur)="validateEmail()" [(ngModel)]="item.user" 
                      (click)="hideRegister()" onfocusin="readInput($event)" name="usernamevalue" placeholder="Introduzca su dirección email" label="Correo electrónico"> 
                      </ion-input>

                      <br>
                      <ion-label style="padding-left: 0; margin-left: 0px; color: #0058CB;">Contraseña</ion-label>
                      <ion-input class="sesion-dato" required [type]="isVisible ? 'text' : 'password'" formControlName="password" (ionChange)="validatePassword()" [(ngModel)]="item.password"
                      (click)="hideRegister()" placeholder="Introduzca su clave de acceso"></ion-input>

                      <ion-icon id="eyeButton" [name]="isVisible ? 'eye-off' : 'eye'" aria-hidden="true" color="primary" style="    float: right;
                        font-size: 1.5rem;
                        z-index: 1090;
                        position: absolute;
                        right: -500px;
                        bottom: 23%;"
                        (click)="toggleVisual()">
                      </ion-icon>
                    
                </ion-col>
                <ion-col class="ion-padding" size="12" size-md="10" push-md="1">
                  <ion-row class="ion-padding-top ion-margin-top">
                    <ion-col size="12" class="ion-no-padding ion-align-self-center">
                      <ion-button class="button-round ion-text-capitalize" expand="full" shape="round" type="submit" [disabled]="!credenciales.valid"
                      color="primary" style="height: 50px;">
                        Iniciar Sesion
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-padding-top ion-margin-top login-row">
                    <ion-col size="12" class="ion-no-padding ion-align-self-center">
                      <ion-button class="button-round ion-text-capitalize warning-button ion-align-self-right" shape="round"
                      style="color: #F04F23;float: right;"
                      fill="outline" (click)="recoveryPassword()" >
                        Recuperar Contraseña
                      </ion-button>
  
                    </ion-col>
                  </ion-row>
                </ion-col> 
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
      
    </ion-content>

    <ion-grid id="connectIndicatorLogin" style="background: transparent; height: 0px;padding: 0; display: none; position: absolute;left: 0; top: 0; z-index: 1000;
        width: 100%;" (click)="permitirGPS(conectividadStat)">
        <ion-row style="width: 100%;">
          <ion-col size="12">
            <ion-chip class="chip-connect">
              <ion-icon name="locate" style="position: absolute;
              left: 220px;
              color: white;
              font-size: 2rem;"
              ></ion-icon>

              <ion-label style="margin-left: 250px; font-size: 1.3rem;">
                {{estadoConexionGPS}} <!--span>{{estadoConexionGPS}}</span -->
              </ion-label>
              <!--ion-icon name="close-circle" style="position: absolute;
              right: 15px;
              color: white;
              font-size: 1.6rem;"
              ></ion-icon -->
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>