.card-header-image {
    position: relative;
    ion-img{
      height: 20vh;
      object-fit: contain;
    }
    &::before {
      content: "";
      display: block;
      height: 20vh;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      mix-blend-mode: var(--cs-mode-image);
      background: var(--cs-gradient-damage);
      z-index: 5;
    }
  
    img {
      width: 100% !important;
      height: 20vh;
      object-fit: contain;
    }
  }
  .card-header-image-inactive {
    position: relative;
    ion-img{
      height: 20vh;
      object-fit: contain;
    }
    &::before {
      content: "";
      display: block;
      height: 20vh;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      mix-blend-mode: var(--cs-mode-image);
      background: var(--cs-gradient-linear);
      z-index: 5;
    }
  
    img {
      width: 100% !important;
      height: 20vh;
      object-fit: contain;
    }
  }