<ion-header>
  <ion-header>
    <ion-spinner color="primary" name="lines" *ngIf="isLoading == true"></ion-spinner>
    <ion-footer *ngIf="isLoading == true"></ion-footer>
    
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        
      </ion-buttons>
      <ion-title>
        <ion-grid>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6">{{segmentoTitulo}} - Atención # {{idAtencion}} - {{miMoneda}}</ion-col>
            <ion-col size="3" style="float: right;color:blue;"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content class="ion-padding segment-form-content">
  <ion-grid>
    <ion-row>
      <ion-col class="segmento" id="segmentVehicleAju" size="12">
        <ion-label class="text-size-lg" style="padding-left: 5px;">
          <ion-badge color="primary">
            {{segmentoTitulo}}
          </ion-badge>
        </ion-label>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Marca
              <ion-chip id="marcaSelect" *ngIf="!isMarca" [outline]="true" (click)="marcaSelect.open()" style="position: absolute;right: 0; width: 15%; padding-left: 4%; font-size: 1rem;
                color: var(--blueGrayColor); border-color: var(--blueGrayColor); right: 15px; top: 22%;">
                Seleccionar
              </ion-chip>
            </ion-row>
            <ion-row>
              <ion-col id="marcaDisplay" size="12">{{laMarcaAsegurado}}</ion-col>
              <ion-col size="3" style="text-align: rigth;">
                <ion-select #marcaSelect id="marcaId" class="text-size-xs required-data native-select-hidden" [(ngModel)]="laMarcaAsegurado" multiple="false" (ionChange)="seleccionarMarca($event)"
                interface="alert" [interfaceOptions]="brandSelectOptions" okText="Seleccionar" cancelText="Cancelar" style="float: right;">
                  <ion-select-option *ngFor="let marca of marcasVehiculos" [value]="marca.Id">
                    {{marca.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Modelo
              <ion-chip id="modelSelect" *ngIf="!isModelo" [outline]="true" (click)="modelSelect.open()" style="position: absolute;right: 0; width: 15%; padding-left: 4%; font-size: 1rem;
                color: var(--blueGrayColor); border-color: var(--blueGrayColor); right: 15px; top: 22%;">
                Seleccionar
              </ion-chip>
            </ion-row>
            <ion-row>
              <ion-col id="modeloDisplay" size="12">{{elModeloAsegurado}}</ion-col>
              <ion-col size="3" style="text-align: rigth;">
                <ion-select #modelSelect id="marcaId" class="text-size-xs required-data native-select-hidden" [(ngModel)]="elModeloAsegurado" multiple="false" (ionChange)="seleccionarModelo($event)"
                interface="alert" [interfaceOptions]="modelSelectOptions" okText="Seleccionar" cancelText="Cancelar" style="float: right; color: white;">
                  <ion-select-option *ngFor="let modelo of modelosMarca" [value]="modelo">
                    {{modelo}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Año
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input *ngIf="elAnioAsegurado != null" readonly [value]="elAnioAsegurado"></ion-input>
            <ion-input *ngIf="elAnioAsegurado == null" maxlength="4" [(ngModel)]="elAnioAsegurado" (ionChange)="entrarAnio($event)"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!--ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Equipo Es Pesado?
                </ion-row>
            <ion-row>
              <ion-col size="9"></ion-col>
              <ion-col size="3" style="text-align: right;">
                <ion-radio-group [(ngModel)]="esPesado" (ionChange)="entraPesado($event)">
                  <ion-item lines="none" style="display: inline-block;">
                    <ion-label style="margin-left:5px">No</ion-label>&nbsp;
                    <ion-radio [value]="2"></ion-radio>
                  </ion-item>
                  <ion-item lines="none"  style="display: inline-block;">
                    <ion-label style="margin-left:5px">Si</ion-label>&nbsp;
                    <ion-radio [value]="1"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-col>
            </ion-row>
          </ion-grid>
        </!--ion-item -->

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Kilomentraje
            </ion-row>
            <ion-row>
              <ion-col *ngIf="esKilometraje" size="11">{{ajustador.Kilometraje}}</ion-col>
              <ion-col *ngIf="esKilometraje"  size="1" style="text-align: rigth;" (click)="editarKilo()">
                <ion-img src="../../assets/img/lapiz.svg" style="width: 25px; float: right;"></ion-img>
              </ion-col>
              <ion-col *ngIf="!esKilometraje" size="12">
                <ion-input type="number" maxlength="7" [(ngModel)]="ajustador.Kilometraje" placeholder="0"
            (ionBlur)="evaluateKm($event)" class="required-data"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Serie/Vin
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input *ngIf="elExpedienteSerie" readonly [value]="elChasisAsegurado"></ion-input>
                <ion-input *ngIf="!elExpedienteSerie" type="text" [(ngModel)]="elChasisAsegurado"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Placa
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input *ngIf="elNumeroPlacaAsegurado != null" readonly [value]="elNumeroPlacaAsegurado"></ion-input>
                <ion-input *ngIf="elNumeroPlacaAsegurado == null" type="text" [(ngModel)]="elNumeroPlacaAsegurado"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              No. del motor
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input *ngIf="elMotorAsegurado" readonly [value]="elMotorAsegurado"></ion-input>
                <ion-input *ngIf="!elMotorAsegurado" type="text" [(ngModel)]="elMotorAsegurado"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Chasis
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input *ngIf="elChasisAsegurado != null" readonly [value]="elChasisAsegurado"></ion-input>
                <ion-input *ngIf="elChasisAsegurado == null || elChasisAsegurado == '' || elChasisAsegurado == 'N/D'" type="text" [(ngModel)]="elChasisAsegurado"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item class="ion-no-padding  input">
          <ion-grid>
            <ion-row size="12" style="color: #7da1c4;font-size:1rem;">
              Póliza
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input *ngIf="laPolizaExternaAsegurado != null" readonly [value]="laPolizaExternaAsegurado"></ion-input>
                <ion-input *ngIf="laPolizaExternaAsegurado == null || laPolizaExternaAsegurado == '' || laPolizaExternaAsegurado == 'N/D'" type="text" [(ngModel)]="laPolizaExternaAsegurado" class="required-data"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
