
<ion-header class="attention-stack-header expediente-header">
  <ion-spinner color="primary" name="lines" *ngIf="isLoading == true"></ion-spinner>
  <ion-footer id="spinFooter" *ngIf="isLoading == true"></ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--ion-back-button defaultHref="/" (click)="Torval()"></!--ion-back-button -->
      <ion-button id="submitClaim" style="position: relative;width: 40px;height: 30px; z-index: 999;--background: transparent;
          --background-activated: transparent;
          --background-hover: transparent;
          --border-radius: 15px;
          --color: white;" vertical="bottom" horizontal="end" (click)="handleBack()">
            <ion-icon style="font-size: 2rem; color: white;" name="chevron-back"></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-title class="expediente-toolbar-title">
      <span class="expediente-toolbar-title__stack">
        <span class="expediente-toolbar-title__id">Expediente atención # {{idAtencion}}</span>
        <app-attention-currency-badge [currency]="miMoneda" variant="toolbar"></app-attention-currency-badge>
      </span>
    </ion-title>
  </ion-toolbar>

  <ion-icon id="open-modal-info"
  src="../../assets/img/ruta.svg"
  class="boton-modal-info boton-trazar-ruta"
  (click)="retraceRoute()"></ion-icon>
</ion-header>

<ion-content id="expedienteContent"  style="--background:transparent" #page>
  <div id="mapExpediente" class="leaflet-expediente-map" #mapExpediente></div>

  <div class="map-zoom-controls" *ngIf="leafletMap">
    <ion-button class="map-control-button" fill="clear" (click)="manualZoom(1)">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-button class="map-control-button" fill="clear" (click)="manualZoom(-1)">
      <ion-icon name="remove"></ion-icon>
    </ion-button>
    <ion-button class="map-control-button" fill="clear" (click)="resumeAgentFollowFromControl()">
      <ion-icon name="navigate"></ion-icon>
    </ion-button>
    <ion-button class="map-control-button" fill="clear" (click)="showFullRouteFromControl()">
      <ion-icon name="git-compare"></ion-icon>
    </ion-button>
  </div>
</ion-content>
<ion-content id="mapaContent" style="--background: transparent;display: none;">
  <ion-grid fixed style="overflow: hidden;">
    <ion-row>
      <ion-fab style="position: fixed;margin-bottom: 190px;" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="centroDeImpresion()">
          <ion-icon name="print"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab style="position: fixed;margin-bottom: 120px;" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="location"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab style="position: fixed;margin-bottom: 50px;" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="getCambiarEstado(8)">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
        <!--ion-fab-list side="top">
          
          <ion-fab-button (click)="goCulpable()">
            <ion-icon name="wallet"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="goBeneficiario()">
            <ion-icon name="golf"></ion-icon>
          </ion-fab-button>
        </!--ion-fab-list -->
      </ion-fab>
      <!--ion-col>
        <ion-fab style="position: fixed;margin-bottom: 100px;" vertical="bottom" horizontal="end">
          <ion-fab-button (click)="centroDeImpresion()">
            <ion-icon name="print"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </!--ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-fab style="position: fixed;" vertical="bottom" horizontal="end">
          <ion-fab-button (click)="confirmar()">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col -->
    </ion-row>
    <ion-row id="mapInfo" *ngFor="let item of expediente" style="display: none;">
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title><ion-badge style="font-size: 1.2rem;">Datos del asegurado</ion-badge></ion-card-title>
            <ion-card-subtitle><ion-label class="text-size-sm;">
              Nombre: {{item.Cliente| titlecase}}</ion-label></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Telefono: {{item.TelefonoOrigen}}<br>
            Correo: {{item.Correo}}<br>
            Poliza: {{item.PolizaExterna| titlecase}}<br>
            <span class="attention-currency-detail-row expediente-currency-value">
              <span class="attention-currency-detail-row__label">Moneda</span>
              <app-attention-currency-badge [currency]="miMoneda" variant="detail" [showLabel]="true"></app-attention-currency-badge>
            </span><br>
            Identidad : {{identidadAsegurado}}<br>
            Fecha del Siniestro : {{formateadaSiniestro}}<br>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title><ion-badge style="font-size: 1.2rem;">Datos del vehículo</ion-badge></ion-card-title>
            <ion-card-subtitle><ion-label class="text-size-sm;">
              Marca: {{item.Marca| titlecase}}</ion-label></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Modelo: {{item.Modelo| titlecase}}<br>
            Color: {{item.Color || "N/D"| titlecase}}<br>
            Año: {{item.Year || "N/D"}}<br>
            Placa: {{item.NumeroPlaca || "N/D"}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title><ion-badge style="font-size: 1.2rem;">Datos del siniestro</ion-badge></ion-card-title>
            <ion-card-subtitle><ion-label class="text-size-sm;">
              Ciudad: {{item.Ciudad | titlecase}}</ion-label></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Zona: {{item.Zona | titlecase}}<br>
            Dirección: {{item.Direccion  | titlecase}}<br>
            Direción Destino: {{item.DireccionDestino | titlecase}}<br>
            Servicio: {{item.Servicio | titlecase}}<br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

  <ion-footer id="mapFooter" slot="fixed" style="bottom: 0;left:0;height:80px; background: white;display: none;
  color: black;">
    <ion-grid hidden>
      <ion-row>
        <ion-col size="1" style="text-align: center;">
          <ion-button class="action-button" (click)="cambiarBotonera()" style="height: 60px;width:60px"><ion-icon style="font-size: 3rem; color: white;" name="options"></ion-icon></ion-button>
        </ion-col>
        <ion-col offset="6" size="1" style="text-align: center;">
          <ion-button class="action-button" (click)="grua()" style="height: 60px;width:60px"><ion-icon style="font-size: 3rem; color: white;" src="../../assets/img/remolque-de-camiones.svg"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="1" style="text-align: center;">
          <ion-button class="action-button" (click)="goPrinter()" style="height: 60px;width:60px"><ion-icon style="font-size: 3rem; color: white;" src="../../assets/img/imprimir.svg"></ion-icon></ion-button>
        </ion-col>
        <!--ion-col size="1" style="text-align: center;">
          <ion-button class="action-button" (click)="goCulpable()" style="height: 60px;width:60px"><ion-icon style="font-size: 3rem; color: white;" src="../../assets/img/cartera.svg"></ion-icon></ion-button>
        </!--ion-col -->
        <ion-col size="1" style="text-align: center;">
          <ion-button class="action-button" (click)="goBeneficiario()" style="height: 60px;width:60px"><ion-icon style="font-size: 3rem; color: white;" src="../../assets/img/gastos.svg"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="1" style="text-align: center;">
          <ion-button class="action-button" (click)="goFotos()" style="height: 60px;width:60px"><ion-icon style="font-size: 3rem; color: white;" src="../../assets/img/camara.svg"></ion-icon></ion-button>
        </ion-col>

        <ion-col size="1" style="text-align: center;">
          <ion-button class="action-button" (click)="handleForward()" style="height: 60px;width:60px"><ion-icon style="font-size: 3rem; color: white;" name="chevron-forward"></ion-icon></ion-button>
        </ion-col>
      

      </ion-row>
    </ion-grid>
    
    <!-- *ngIf="esClienteCompleto == true" -->
    <div id="fabsContainer">
      <ion-fab *ngIf="isArrived == true" style="position: fixed;margin-right: 18%;" vertical="bottom" horizontal="end">
        <ion-fab-button id="open-modal-coordenadas-no" (click)="'trackON();'">
          <ion-icon style="font-size: 3rem;" name="checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    <!--ion-fab [hidden]="source==1" style="position: fixed;margin-right: 6%;" vertical="bottom" horizontal="end">
      <ion-fab-button>
        
        <ion-icon style="font-size: 3rem;" src="../../assets/img/clear-cache.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab  style="position: fixed;margin-left: 14%;" vertical="bottom" horizontal="start">
      <ion-fab-button id="statusFlag" (click)="'goBack()'">
        <ion-icon id="statusIcon" style="font-size: 3rem;" src="../../assets/img/ajucar-white.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab -->

    
    

    <!--ion-fab  style="position: fixed;left: 6%;" vertical="bottom">
      <ion-fab-button id="arrowFlag" style="font-weight: bolder;" (click)="cambiarBotonera()">
        <ion-icon id="statusArrow" style="font-size: 2rem;" name="options"></ion-icon>
      </ion-fab-button>
    </!--ion-fab -->

    <ion-fab style="position: fixed;" vertical="bottom" horizontal="start">
      <ion-fab-button (click)="goBack()">
        <ion-icon name="return-up-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab id="buttonGoCliente" style="position: fixed;" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="handleForward()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab class="mobile-expediente-actions-fab" vertical="bottom" horizontal="center" style="margin-left:-20px">
      <ion-fab-button (click)="presentExpedienteActions($event)">
        <ion-icon name="apps-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    
  </div>

  </ion-footer>

<ion-modal class="modal" [isOpen]="asignacion">
  <ng-template>
    <ion-content>
      <ion-list-header style="text-align: center; align-items: center; margin: 0px;">
        <ion-label class="text-size-lg" style="margin:0px;">Selecione un nuevo ajustador</ion-label>
      </ion-list-header>
      <ion-list lines="none" style="overflow-y:scroll; max-height:78%;">
        <ion-radio-group [(ngModel)]="idAgente">
          
          <ion-item lines="none" *ngFor="let item of ajustadores" >
            <ion-label>{{item.AgenteNombre| titlecase}}</ion-label>
            <ion-radio value={{item.IdAjustador| titlecase}}></ion-radio>
          </ion-item>
        </ion-radio-group>

       
      </ion-list>
      <ion-row style="bottom: 2px; position:absolute; width:100%;">
        <ion-col size="6">
          <ion-button style="color: white;" expand="block" shape="round"  (click)="asignacion = false" >
           Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button style="color: white;"  expand="block" shape="round" (click)="reasignarAjustador()">
            Reasignar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal id="modalOpciones" #modalOpciones trigger="open-modal-opciones" [presentingElement]="page" [backdropDismiss]=true [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25]"
class="info-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar (click)="cerrarModal()">
        
        
        <ion-buttons slot="start">
          <ion-fab slot="start" style="background: transparent;">
            <ion-fab-button id="botonCerrarModal">
              <ion-icon style="font-size: 3rem;color: aliceblue;" src="../../assets/img/map-icon.svg"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-buttons>
        <ion-title slot="end">Atención # {{idAtencion}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

    </ion-content>
  </ng-template>
</ion-modal>


  
