<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-fab slot="start" style="background: transparent;">
        <ion-fab-button id="botonCerrarModal" (click)="close()">
          <ion-icon style="font-size: 2rem; color: aliceblue;" name="chevron-down"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-buttons>
    <ion-title slot="end">Atención # {{idAtencion}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid id="mapGrid">
    <ion-row>
      <ion-accordion-group [value]="accordionValue" *ngFor="let item of expediente">
        <ion-accordion class="acordion" value="first">
          <ion-item slot="header">
            <ion-label>Datos del asegurado</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <strong>Nombre: {{item.Cliente | titlecase}}</strong><br><br>
            Telefono: {{item.TelefonoOrigen}}<br>
            Poliza: {{item.PolizaExterna?.split('-')[1] | titlecase}}<br>
            Moneda: {{miMoneda}}
          </div>
        </ion-accordion>

        <ion-accordion class="acordion" value="second">
          <ion-item slot="header">
            <ion-label>Datos del vehículo</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <strong> Marca: {{item.Marca | titlecase}}</strong><br><br>
            Modelo: {{item.Modelo | titlecase}}<br>
            Color: {{item.Color || "N/D" | titlecase}}<br>
            Año: {{item.Year || "N/D"}}<br>
            Placa: {{item.NumeroPlaca || "N/D"}}
          </div>
        </ion-accordion>

        <ion-accordion class="acordion" value="third">
          <ion-item slot="header">
            <ion-label>Datos del siniestro</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <strong>{{item.Direccion}}</strong><br><br>
            Ciudad: {{item.Ciudad | titlecase}}<br>
            Zona: {{item.Zona | titlecase}}<br>
            Dirección: {{item.Direccion | titlecase}}<br>
            Direción Destino: {{item.DireccionDestino | titlecase}}<br>
            Servicio: {{item.Servicio | titlecase}}<br>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-icon class="route-icon" src="../../assets/img/ruta.svg"></ion-icon>
                </ion-col>
                <ion-col offset="8" size="4">
                  <ion-button id="botonRuta" class="ruta" (click)="onTraceRoute()">
                    Trazar Ruta
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-row>
  </ion-grid>
</ion-content>
