<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
  <ion-grid class=" ion-padding" *ngIf="!isOtp">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-padding" size="12" size-md="10" push-md="1">
        <!---Logo-->
        <!-- <ion-img class="ion-float-end" src="../../../assets/logos/help.png"></ion-img> -->
        <div class="clearfix"></div>
        <h1 class="text-size-xl ion-text-wrap ion-text-capitalize">
         Ingresa tu correo</h1>
        <div class="clearfix"></div>
        <h2 class="text-size-xs ion-text-wrap ion-padding-end">
         Enviaremos a tu correo un código OTP para que recupere su contraseña</h2>
        <div class="clearfix"></div>
        <ion-item class="ion-no-padding transparent input">
          <!---Input field email-->
          <ion-label class="text-size-sm" position="floating">
          Correo</ion-label>
          <ion-input required type="email"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required [(ngModel)]="item.email"
            [ngModelOptions]="{standalone: true}"></ion-input>
          <ion-icon *ngIf="!isEmailValid" class="icon-small"
          name="remove-circle"></ion-icon>
        </ion-item>
        <!---Send button-->
        <ion-button class="ion-margin-top button-round ion-float-end"
        shape="round" fill="outline" (click)="onSendFunc()" [disabled]="load">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class=" ion-padding" *ngIf="isOtp">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-padding" size="12" size-md="10" push-md="1">
        <!---Logo-->
        <!-- <ion-img class="ion-float-end" src="../../../assets/logos/help.png"></ion-img> -->
        <div class="clearfix"></div>
        <h1 class="text-size-xl ion-text-wrap ion-text-capitalize">
         Ingresa el código OTP</h1>
        <div class="clearfix"></div>
        <h2 class="text-size-xs ion-text-wrap ion-padding-end">
         Enviamos a tu correo un código OTP para que recupere su contraseña</h2>
        <div class="clearfix"></div>
        <ion-item class="ion-no-padding transparent input" style="text-align:center;">
          <ion-input class="x" #otp1 required="true" maxLength="1" [(ngModel)] ="oTP.first" (keyup)="otpController($event,otp2,'', 1)">
          </ion-input>
          <ion-input class="x" #otp2 required="true" maxLength="1" [(ngModel)]="oTP.second" (keyup)="otpController($event,otp3,otp1, 2)">
          </ion-input>
          <ion-input class="x" #otp3 required="true" maxLength="1" [(ngModel)]="oTP.third"  (keyup)="otpController($event,otp4,otp2, 3)">
          </ion-input>
     
          <ion-input class="x" #otp4 required="true" maxLength="1" [(ngModel)]="oTP.forth"  (keyup)="otpController($event,'',otp3,4)">
         </ion-input>
        </ion-item>
        <!---Send button-->
        <ion-button class="ion-margin-top button-round ion-float-start"
        shape="round" fill="outline" (click)="onSendFunc()">
          Reenviar código OTP
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>