ion-spinner{
	position: fixed;
    top: 28%;
    left: 40%;
    z-index: 999;
    width: 20%;
    height: 20%;
	//background-color: #00213f;
}

#spinFooter{
	position: fixed;
    background: black;
    opacity: 0.6;
    height: 100vh;
    width: 100vw;
    z-index: 900;
    bottom: 0;
}

ion-select::part(text) {
    font-size: 1.1rem;
}

#button-back-bene{
    border-radius: 50%;
    margin-bottom: 9px;
    ion-fab-button{
      padding-bottom: 25px;
      ion-icon{color: white;}
    }
  }